.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
data/raw/banknote_authentication
data/raw/breast_cancer
data/raw/sonar
data/processed/banknote_authentication
data/processed/breast_cancer_wdbc
data/processed/sonar
data/processed/*.json
data/splits/banknote_authentication
data/splits/breast_cancer_wdbc
data/splits/sonar
logs/*.log
reports/*
runs/*_run
.DS_Store
.idea/
.vscode/
.pytest_cache/